.body {
    font-family: 'Roboto', arial;
}

/* top left bottom right */

/* Navigation bar */

.navbar {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h3 {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 128px;
}

.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 128px;
    gap: 32px;
}