* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', arial;
}

/* top left bottom right */

/* Navigation bar */

.navbar {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.navbar h3 {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 128px;
}

.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 128px;
    gap: 32px;
}

/* Hero section */

.hero {
    background-color: #1f2937;
    padding: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    height: 300px;
    width: 500px;
}

.hero button {
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    padding: 8px;
    width: 80px;
}

/* Content section */
.content {
    align-items: center;
}

.content h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding: 48px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.info p {
    text-align: center;
    width: 128px;
}

.info img {
    height: 128px;
    width: 128px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}
